<!DOCTYPE html>
<html lang="pt-br">

<body>
   
    <%- include('./parciais/nav.ejs') %>

    <h1>Página Não Encontrada (404)</h1>
    <p>Desculpe, a página que você está procurando não existe.</p>
    <%- include('./parciais/head.ejs', { titulo: titulo }) %>
    <%- include('./parciais/footer.ejs') %>
</body>
</html>