<footer>
  <div class="footer-conteudo">
    <div class="coluna-footer">
      <h3>Sobre o Blog</h3>
      <p style="color: #9ca3af; line-height: 1.6;">
        Um espaço dedicado ao compartilhamento de conhecimento e experiências sobre desenvolvimento web e tecnologia.
      </p>
    </div>

    <div class="coluna-footer">
      <h3>Links Úteis</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/blog/criar">Novo Post</a></li>
      </ul>
    </div>

    <div class="coluna-footer">
      <h3>Redes Sociais</h3>
      <ul class="redes-sociais">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">GitHub</a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <p>&copy; <%= new Date().getFullYear() %> Blog Node. Todos os direitos reservados.</p>
  </div>
</footer>