<nav>
        <div class="titulo-site">
            <a href="/"><h1>Blog</h1></a>
            <p>Máximo Brasil Manutenção</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/blog/criar">Novo Blog</a></li>
        </ul>
    </nav>